@model Mvc.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewData["Title"] = "帳號登入";
}

<div class="container container-tight py-4">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="~/images/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">@ViewData["Title"]</h2>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" autocomplete="off" novalidate>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="your@email.com" />
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        密碼
                        <span class="form-label-description">
                            <a href="./forgot-password.html">忘記密碼</a>
                        </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input asp-for="Password" class="form-control" placeholder="密碼" />
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">登入</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center text-secondary mt-3">
        還沒有帳號？ <a href="./sign-up.html" tabindex="-1">註冊帳號</a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js" defer></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js" defer></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer></script>
}