@using Mvc.ViewModels
@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewData["Title"] = "Error";
}

<div class="container-tight py-4">
    <div class="empty">
        <div class="empty-header">
            <img src="~/images/computer_error_bluescreen.png" alt="">
        </div>
        <p class="empty-title"></p>
        <p class="empty-subtitle text-secondary">
            很抱歉，網站遇到一些技術問題，無法顯示您所請求的頁面。這可能是由於以下原因：
            <ul style="text-align: left;">
                <li>伺服器過載或暫時性故障。</li>
                <li>網站代碼中存在錯誤。</li>
            </ul>
        </p>
        <p class="empty-subtitle text-secondary">
            您可以嘗試以下方法：
            <ul style="text-align: left;">
                <li>稍後再試一次，看看問題是否已解決。</li>
                <li>返回首頁，嘗試從其他連結進入。</li>
                <li>如果問題持續，請聯絡我們的技術支援團隊。</li>
            </ul>
        </p>
        <p class="empty-subtitle text-secondary">
            我們對造成的不便深表歉意，感謝您的理解與耐心。
        </p>

        <div class="empty-action">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                回首頁
            </a>
        </div>
        <br />
        <p class="empty-subtitle text-secondary">
            <strong>錯誤代碼:</strong> <code>@Model.ErrorId</code>
        </p>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <h3 class="text-danger">@Model.ErrorMessage</h3>
        }

        @if (Model.ShowStackTrace)
        {
            <p class="empty-subtitle text-secondary">
                <strong>Stack Trace:</strong> 
                <br />
                <code>@Model.StackTrace</code>
            </p>
        }
    </div>
</div>