@using Mvc.ViewModels
@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewData["Title"] = "內部伺服器錯誤 (500 錯誤)";
}

<div class="container-tight py-4">
    <div class="page vertical-align text-center">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top">500</h1>
                <p>內部伺服器錯誤 !</p>
            </header>
            <p class="error-advise">
                很抱歉，網站遇到一些技術問題，無法顯示您所請求的頁面。這可能是由於以下原因：
            </p>
            <ul>
                <li>伺服器過載或暫時性故障。</li>
                <li>網站代碼中存在錯誤。</li>
            </ul>
            <p class="error-advise">
                您可以嘗試以下方法：
            </p>
            <ul>
                <li>稍後再試一次，看看問題是否已解決。</li>
                <li>返回首頁，嘗試從其他連結進入。</li>
                <li>如果問題持續，請聯絡我們的技術支援團隊。</li>
            </ul>
            <p class="error-advise">
                我們對造成的不便深表歉意，感謝您的理解與耐心。
            </p>
            <div>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                    回首頁
                </a>
            </div>
            <br />
            <p>
                <strong>錯誤代碼:</strong> <code>@Model.ErrorId</code>
            </p>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <h3 class="text-danger text-center">
                    @Html.Raw(Model.ErrorMessage.Replace("\r\n", "<br />"))
                </h3>
            }

            @if (Model.ShowStackTrace)
            {
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#stackModal">
                    顯示詳細內容
                </button>

                <div class="modal fade" id="stackModal" tabindex="-1" aria-labelledby="stackModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="stackModalLabel">詳細內容</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <code class="stacktrace-block">@Model.StackTrace</code>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <footer class="page-copyright">
                <p>© 2021. All RIGHT RESERVED.</p>
            </footer>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/error.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        document.addEventListener('keydown', function(e) {
            if (e.key === "Escape") {
                var modal = document.getElementById('stackModal');
                if (modal) modal.style.display = 'none';
            }
        });
    </script>
}