@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewData["Title"] = "隱私權政策";
}

<div class="container container-narrow py-4">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="~/images/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h3 class="card-title">隱私權政策</h3>
            <div class="markdown">
                <p>我們非常重視您的隱私權，並致力於保護您的個人資料。請詳細閱讀以下隱私權政策，以了解我們如何收集、使用和保護您的個人資料。</p>
                <hr />

                <h3>1. 資料收集</h3>
                <ul>
                    <li>個人資料：我們可能會收集您的個人資料，如姓名、電子郵件地址、電話號碼、郵寄地址等，當您註冊、登入或使用我們的服務時。</li>
                    <li>使用資料：我們可能會收集有關您如何使用我們服務的資訊，如IP地址、瀏覽器類型、訪問的頁面和操作系統等。</li>
                </ul>
                <h3>2. 資料使用</h3>
                <ul>
                    <li>我們使用收集的資料來提供、維護和改進我們的服務。</li>
                    <li>我們可能會使用您的資料來回應您的查詢、提供客戶支援、以及發送服務相關通知。</li>
                    <li>我們可能會使用您的資料進行內部數據分析，以改進我們的服務和產品。</li>
                </ul>
                <h3>3. 資料共享</h3>
                <ul>
                    <li>我們不會向第三方出售或出租您的個人資料。</li>
                    <li>我們可能會在以下情況下與第三方共享您的資料：
                        <ul>
                            <li>經過您的明確同意。</li>
                            <li>法律要求或保護我們合法權益時。</li>
                            <li>我們的服務提供商或合作夥伴在受合約約束的情況下協助我們提供服務時。</li>
                        </ul>
                    </li>
                </ul>
                <h3>4. 資料安全</h3>
                <ul>
                    <li>我們採取合理的技術和組織措施來保護您的個人資料，防止未經授權的訪問、使用或洩露。</li>
                </ul>
                <h3>5. 資料保留</h3>
                <ul>
                    <li>我們只會在達到資料收集目的所需的期間內保留您的個人資料。</li>
                    <li>當資料不再需要時，我們將安全地刪除或匿名化您的個人資料。</li>
                </ul>
                <h3>6. 您的權利</h3>
                <ul>
                    <li>您有權查閱、更新和刪除我們持有的您的個人資料。</li>
                    <li>您可以隨時聯繫我們，以行使上述權利或提出任何資料使用相關的問題或疑慮。</li>
                </ul>
                <h3>7. 隱私權政策的變更</h3>
                <ul>
                    <li>我們可能會不時更新本隱私權政策。任何變更將發布在我們的網站上，並且更新後的政策將立即生效。</li>
                </ul>
                <h3>8. 聯絡我們</h3>
                <ul>
                    <li>如有任何問題或需要進一步的說明，請聯繫我們：info@example.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>