@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
    ViewData["Title"] = "資料使用宣告";
}

<div class="container container-narrow py-4">
    <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="~/images/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h3 class="card-title">資料使用宣告</h3>
            <div class="markdown">
                <p>感謝您使用我們的服務。在使用我們的服務之前，請詳細閱讀以下資料使用宣告。使用我們的服務即表示您同意本宣告的內容。</p>
                <hr />

                <h3>1. 資料收集</h3>
                <ul>
                    <li>我們會收集您在註冊、登入及使用服務過程中提供的個人資料，包括但不限於姓名、電子郵件地址、電話號碼等。</li>
                    <li>我們可能會自動收集您的設備資訊、IP 地址、瀏覽器類型及操作系統等技術資料。</li>
                </ul>
                <h3>2. 資料使用</h3>
                <ul>
                    <li>我們收集的資料將用於提供、維護及改進我們的服務。</li>
                    <li>我們可能會使用您的資料來進行客戶支持、回應您的查詢及提供技術支援。</li>
                    <li>我們可能會使用您的資料進行市場調查及分析，以改善我們的產品及服務。</li>
                </ul>
                <h3>3. 資料共享</h3>
                <ul>
                    <li>我們不會向第三方出售或出租您的個人資料。</li>
                    <li>我們可能會在法律要求或保護我們權利的情況下，與第三方共享您的資料。</li>
                </ul>
                <h3>4. 資料安全</h3>
                <ul>
                    <li>我們將採取合理的技術及組織措施，以保護您的個人資料免受未經授權的訪問、使用或洩露。</li>
                </ul>
                <h3>5. 資料保留</h3>
                <ul>
                    <li>我們只會在達到資料收集目的所需的期間內保留您的個人資料。</li>
                    <li>當資料不再需要時，我們將安全地刪除或匿名化您的個人資料。</li>
                </ul>
                <h3>6. 您的權利</h3>
                <ul>
                    <li>您有權查閱、更新及刪除我們所持有的您的個人資料。</li>
                    <li>您可以隨時聯繫我們，行使上述權利或提出任何資料使用相關的問題或疑慮。</li>
                </ul>
                <h3>7. 聯絡我們</h3>
                <ul>
                    <li>如有任何問題或需要進一步的說明，請聯繫我們：info@example.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>