@model string

@* https://developers.cloudflare.com/turnstile/get-started/client-side-rendering/ *@

<div class="cf-turnstile"
     data-sitekey="@Model"
     data-theme="light"
     data-size="flexible"></div>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>