@using CleanArchitecture.Northwind.Application.Common.Interfaces
@using CleanArchitecture.Northwind.Domain.Entities.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject IIdentityService IdentityService

<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <button type="button" id="sidebarCollapse" class="btn btn-light">
        <i class="fas fa-bars"></i><span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        @if (IdentityService.IsSignedIn(User))
        {
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <div class="nav-dropdown">
                        <a href="#" id="nav1" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end nav-link-menu" aria-labelledby="nav1">
                            <ul class="nav-list">
                                <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-dropdown">
                        <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i> <span>@(User.FindFirst("FullName")?.Value)</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                            <ul class="nav-list">
                                <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                                <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                        <i class="fa-solid fa-right-from-bracket"></i>Logout
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- Modal -->
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logoutModalLabel">是否登出？</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-lg-center">
                            <i class="fa-duotone fa-solid fa-power-off fa-beat-fade fa-5x"></i>
                            <br />
                            <br />
                            請問是否確定登出？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="btn btn-danger">登出</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <div class="nav-dropdown">
                        <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i> <span>未登入</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                            <ul class="nav-list">
                                <li><a asp-controller="Account" asp-action="Register" class="dropdown-item"><i class="fa-solid fa-user-plus"></i> 註冊帳號</a></li>
                                <li><a asp-controller="Account" asp-action="Login" class="dropdown-item"><i class="fa-solid fa-right-to-bracket"></i> 登入</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
</nav>