@inject IAuthorizationService AuthorizationService
@using CleanArchitecture.Northwind.Domain.Constants
@using Microsoft.AspNetCore.Authorization
@{
    var systemAdmin = User.IsInRole(Roles.SystemAdmin);
    var auth = User.IsInRole(Roles.SystemAdmin) || User.IsInRole(Roles.Administrator);
    var canViewOrders = await AuthorizationService.AuthorizeAsync(User, Policies.Orders);
}
<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <img src="~/images/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i>首頁</a>
        </li>
        @if (auth)
        {
            <li>
                <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-user-shield"></i>權限管理</a>
                <ul class="collapse list-unstyled" id="authmenu">
                    <li>
                        <a asp-action="Index" asp-controller="User"><i class="fas fa-user-friends"></i>使用者列表</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Roles"><i class="fa-solid fa-shield-halved" style="margin-right:5px;"></i>角色清單</a>
                    </li>
                </ul>
            </li>
        }
        @if (systemAdmin)
        {
            <li>
                <a href="#settingsmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-cog"></i>設置</a>
                <ul class="collapse list-unstyled" id="settingsmenu">
                    <li>
                        <a href="users.html"><i class="fa fa-history"></i>歷程紀錄</a>
                    </li>
                </ul>
            </li>
        }
        @if (canViewOrders.Succeeded)
        {
            <li>
                <a asp-action="Index" asp-controller="Orders"><i class="fas fa-file-alt"></i>訂單</a>
            </li>
        }
    </ul>
</nav>